.copy-container{
    display: flex;
    background-color: black;
    color: white;
    justify-content: space-between;
    padding: 20px;
}

.terms {
    color: white;
    text-decoration: none;
}

.terms:hover {
    text-decoration: underline;
}