.containerlanding {
    width: 90%;
    margin: auto;
}

.section1 {
    display: flex;
    padding-left: 17%;
    margin-bottom: 115px;
}

.sec1-p1 {
    font-size: 40px;
    font-weight: bold;
}

.signupbtn {
    background-color: blue;
    color: white;
    border: 0;
    padding: 20px;
    border-radius: 50px;
}

.sec1-1 {
    width: 40%;
}

.sec1-p2 {
    font-size: 20px;
    margin-bottom: 40px;
}

.img1 {
    width: 75%;
    margin-top: 40px;
    margin-left: 30px;
}

.section2 {
    margin-bottom: 95px;
}

.sec2-1 {
    font-size: 23px;
    margin-bottom: 20px;
}

.sec2-d2 {
    display: flex;
    width: 80%;
    margin: auto;
    justify-content: space-around
}

.section3 {
    margin-bottom: 215px;
}

.sec4-2 {
    padding-left: 123px;
}

.file-i {
    background-color: rgb(107, 11, 242);
    border-radius: 50px;
    width: 63px;
    height: 63px;
    margin-bottom: 20px;
}

.file-icon {
    color: white;
    padding-left: 27px;
    padding-top: 22px;
}

.sec4-2-2 {
    font-size: 40px;
    font-weight: 550;
    margin-bottom: 40px;
}

.sec4-2-3 {
    margin-bottom: 90px;
}

.nav-links {
    text-decoration: none;
    color: blue;
}

.sec4-2-4 {
    margin-bottom: 40px;
}

.sec4-2-5 {
    margin-bottom: 50px;
}

.hline {
    margin-bottom: 50px;
    width: 50%; 
    margin-left: 0;
}

.sec4-img1 {
    border-radius: 50%;
    width: 53px;
    height: 53px;
    margin-top: 2px;
}

.s4-lh-ld {
    margin-left: 18px;
}

.sec4-nc {
    font-weight: bold;
    color: rgb(192, 33, 33);
    font-size: 30px;
}

.sec4-un {
    font-size: 30px;
    color: rgb(192, 33, 33);
}

.section4 {
    margin-bottom: 215px;
}

.sec3-1 {
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 15px;
}

.sec3-2 {
    font-size: 23px;
    margin-bottom: 40px;
}

video:hover {
    cursor: pointer;
}

.m-tb {
    margin-top: 20px;
    margin-bottom: 20px;
}

.m-t {
    margin-top: 20px;
}

.m-b {
    margin-bottom: 20px;
}

.sec3-vs {
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-row-gap: 45px;
    grid-column-gap: 30px;
    width: 80%;
    margin: auto;
}

.sec3-vs > video {
    width: 100%;
    border-radius: 20px;
}

.text-c {
    text-align: center;
}

.section4 {
    display: flex;
}

.imgdiv {
    width: 100%;
}

.sec4-img {
    width: 75%;
    margin-right: 0px;
    margin-left: 180px;
    margin-top: 200px;
}

.border {
    border: 1px solid black;
}

.section4 > div {
    width: 50%;
}

.sec5-1 {
    margin-left: 100px;
    margin-right: 0;
}

.width30 {
    width: 30%;
}

.width70 {
    width: 70%;
}

.width {
    width: 100%;
}

.d-flex {
    display: flex;
}





.m-auto {
    margin: auto;
}

.sec8-btns {
    justify-content: space-around;
    ;
}

.sec8-btns > button {
    background-color: white;
    border: 0px;
    color: blue;
    padding: 10px;
    border-radius: 20px;
    border: 0.5px solid blue;
}

.sec8-btns > button:hover {
    background-color: blue;
    color: white;
    padding: 10px;
    border-radius: 20px;
}

.slide-img {
    background-repeat: no-repeat;
    width: 100%;
    height: 560px;
}

.slide-container {
    border: 1px solid black;
    width: auto;
}

.each-slide {
    border: 1px solid red;
    width: auto;
    background-size: auto;
    
}

.slide-img > img {
    width: 100%;
    height: 100%;
}

.slide-caption {
    background-color: white;
    color: black;
    align-items: flex-end;
    
}

.background-img {
    background-color: white;
}

.slide-caption > p {
    background-color: white;
    width: 300px;
}

.cards {
    justify-content: space-around;
}

.innercard {
    justify-content: space-around;
}

.w-30 {
    width: 30%;
}

.w-50 {
    width: 60%;
}

.card-imgs {
    width: 100%;
    margin-bottom: 15px;
}

.text-l {
    text-align: left;
}

.text-r {
    text-align: right;
}

.link {
    color: blue;
}

.link:hover {
    cursor: pointer;
    text-decoration: underline;
}

.p-l {
    padding-left: 12px;
}

.heading9 {
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 45px;
}

.section10 {
    width: 80%;
    margin: auto;
    border-radius: 20px;
    background-color: blue;
    color: white;
}