.container {
    width: 90%;
    margin: auto;
    text-align: center;
}

.section1 {
    border: 1px solid red;
    display: flex;
}

.section1 > div {
    border: 1px solid black;
    width: 50%;
}

.section2 {
    border: 1px solid black;
}

.sec2-d2 {
    display: flex;
    justify-content: space-around
}

video:hover {
    cursor: pointer;
}

.m-tb {
    margin-top: 20px;
    margin-bottom: 20px;
}

.m-t {
    margin-top: 20px;
}

.m-b {
    margin-bottom: 20px;
}

.sec3-vs {
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-gap: 20px;
    border: 1px solid black;
    width: 80%;
    margin: auto;
}

.sec3-vs > video {
    width: 100%;
    border-radius: 20px;
}

.text-c {
    text-align: center;
}

.section4 {
    display: flex;
    border: 1px solid black;
}

.border {
    border: 1px solid black;
}

.section4 > div {
    width: 50%;
}

.width30 {
    width: 30%;
}

.width70 {
    width: 70%;
}

.width {
    width: 100%;
}

.d-flex {
    display: flex;
}

.file-icon {
    color: white;
    align-items: center;
    align-content: center;
    justify-content: center;
    
}

.file-i {
    background-color: blue;
    border-radius: 50px;
    width: 20px;
}

.m-auto {
    margin: auto;
}

.sec8-btns {
    justify-content: space-around;
    ;
}

.sec8-btns > button {
    background-color: white;
    border: 0px;
    color: blue;
    padding: 10px;
    border-radius: 20px;
    border: 0.5px solid blue;
}

.sec8-btns > button:hover {
    background-color: blue;
    color: white;
    padding: 10px;
    border-radius: 20px;
}

.slide-img {
    background-repeat: no-repeat;
    width: 100%;
    height: 560px;
}

.slide-container {
    border: 1px solid black;
    width: auto;
}

.each-slide {
    border: 1px solid red;
    width: auto;
    background-size: auto;
    
}

.slide-img > img {
    width: 100%;
    height: 100%;
}

.slide-caption {
    background-color: white;
    color: black;
    align-items: flex-end;
    
}

.background-img {
    background-color: white;
}

.slide-caption > p {
    background-color: white;
    width: 300px;
}

.cards {
    justify-content: space-around;
}

.innercard {
    justify-content: space-around;
}

.w-30 {
    width: 30%;
}

.w-50 {
    width: 60%;
}

.card-imgs {
    width: 100%;
    margin-bottom: 15px;
}

.text-l {
    text-align: left;
}

.text-r {
    text-align: right;
}

.link {
    color: blue;
}

.link:hover {
    cursor: pointer;
    text-decoration: underline;
}

.p-l {
    padding-left: 12px;
}

.heading9 {
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 45px;
}

.section10 {
    width: 80%;
    margin: auto;
    border-radius: 20px;
    background-color: blue;
    color: white;
}