.navbarLanding {
    z-index: 100;
    display: flex;
    /* height: 100px; */
    margin: auto;
    position: sticky;
    top: 0;
    left: 0;
    background-color: white;
    transition: 0.4s;
    /* border: 1px solid black; */
}
.nav-l-icon {
    margin-left: 100px;
}

.lumen-l-icon {
    /* border: 1px solid red; */
    transition: 0.4s;
}

.landing-nav-items {
    display: flex;
    width: 100%;
    justify-content: flex-end;
    align-items: center;
    margin-right: 100px ;
}

.landing-nav-items>div {
    padding-right: 20px;
}

.basic-button {
    background-color: white;
    color: black;
}

.basic-button:hover {
    background-color: none;
}

.dropdown {
    background-color: white;
}

.dropdown:hover {
    background-color: white;
}

.sulink {
    text-decoration: none;
    color: blue;
    border: 1px solid ;
    border-radius: 25px;
    padding: 8px 10px 12px 10px;

}

.sulink2 {
    text-decoration: none;
    color: white;
    border: 1px solid ;
    border-radius: 25px;
    background-color: rgb(73, 73, 215);
    padding: 8px 10px 12px 10px;    

}

.sulink:hover {
    cursor: pointer;
    background-color: blue;
    color: white;

}

.sulink2:hover {
    cursor: pointer;
    background-color: blue;
    color: white;

}



.signinbtn {
    border: 1px solid blue;
    padding: 20px;
    border-radius: 50px;
    background-color: white;
    color: blue;
}

.signinbtn:hover {
    cursor: pointer;
    background-color: blue;
    color: white;
}


.silink {
    text-decoration: none;
    color: blue;
}



.silink :hover {
    cursor: pointer;
    background-color: blue;
    color: white;
}



.home {
    text-decoration: none;
}

.create {
    text-decoration: none;
    color: rgb(59, 10, 10);
}

.create:hover {
    color: black;
}

.pricing {
    text-decoration: none;
    color: rgb(59, 10, 10);
}

.pricing:hover {
    color: black;
}

.enterprise {
    text-decoration: none;
    color: rgb(59, 10, 10);
}

.enterprise:hover {
    color: black;
}

.casestudy {
    text-decoration: none;
    color: rgb(59, 10, 10);
}

.casestudy:hover {
    color: black;
}

.learn {
    text-decoration: none;
    cursor: pointer;
    display: flex;
}

.learn:hover {
    color: black;
}

.downarr {
    padding-top: 5px;
}



.dropdwn {
    border: 0;
}

.dropdwn>option {
    border: 0;
}

.subtn {
    text-align: center;
    vertical-align: middle;
}