.navbar {
    display: flex;
    border: 1px solid red;
    height: 100px;
    width: 90%;
    margin:auto;
    position: sticky;
    top: 0;
    left: 0;
    background-color: white;
transition: 0.4s;
    
}

.nav-icon {
    width: 20%;
}

.lumen-icon {
    height: 100%;
    width: fit-content;
}

.nav-items {
    display: flex;
    border: 1px solid black;
    width: 100%;
    justify-content: flex-end;
    align-items: center;
}

.nav-items > div {
    padding-right: 45px;
}

.basic-button {
    background-color: white;
    color: black;
}

.basic-button:hover{
    background-color: none;
}

.dropdown {
    background-color: white;
}

.dropdown:hover {
    background-color: white;
}