.navbar {
    z-index: 100;
    display: flex;
    height: 100px;
    margin:auto;
    position: sticky;
    top: 0;
    left: 0;
    background-color: white;
transition: 0.4s;
    
}

.nav-icon {
    width: 20%;
}

.lumen-icon {
    height: 100%;
    width: fit-content;
}

.nav-items {
    display: flex;
    width: 100%;
    justify-content: flex-end;
    align-items: center;
}

.nav-items > div {
    padding-right: 45px;
}

.basic-button {
    background-color: white;
    color: black;
}

.basic-button:hover{
    background-color: none;
}

.dropdown {
    background-color: white;
}

.dropdown:hover {
    background-color: white;
}

.signupbtn {
    border: 0;
    background-color: blue;
    color: white;
    padding: 20px;
    border-radius: 50px;
}

.signinbtn {
    border: 1px solid blue;
    padding: 20px;
    border-radius: 50px;
    background-color: white;
}

.sulink {
    color: white;
    text-decoration: none;
}

.home {
    text-decoration: none;
}

.create {
    text-decoration: none;
}

.create:hover {
    color: black;
}

.pricing {
    text-decoration: none;
}

.pricing:hover {
    color: black;
}

.enterprise {
    text-decoration: none;
}

.enterprise:hover {
    color: black;
}

.casestudy {
    text-decoration: none;
}

.casestudy:hover {
    color: black;
}

.learn {
    text-decoration: none;
    cursor: pointer;
    display: flex;
}

.learn:hover {
    color: black;
}

.downarr {
    padding-top: 5px;
}

.silink {
    text-decoration: none;
    color: blue;
}

.signinbtn:hover{
    cursor: pointer;
}

.signupbtn:hover{
    cursor: pointer;
}

.dropdwn {
    border: 0;
}

.dropdwn > option {
    border: 0;
}





