.container {
    margin: auto   ;
    border: 1px solid red;
}

.tycl {
    color: gray;
}

.tyimg {
    width: 400px;
    height: 400px;
}

.tybtn {
    padding: 20px;
    background-color: white;
    border: 1px solid blue;
    border-radius: 28px;
    color: blue;
}

.tybtn:hover{ 
    background-color: blue;
    color: white;
    cursor: pointer;
}

.h1siva {
    color: green;
    text-decoration: none;
}